main {
    background-image: url("../img/home/bg-home.webp");
    background-position: top center;
    background-size: cover;
    background-repeat: repeat-y;
}
main .content {
    padding: 0 1rem;
}
.title-default {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--cinza);
}
.title-default h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--azul);
    padding: 1rem 1rem 1rem 0;
    border-right: 2px solid var(--azul);
}
.title-default h2 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.1;
    color: var(--cinza-dark);
}
main p {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--azul);
}
main .content > div {
    padding: 3rem 0;
}
.atuacao .conteudo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.conteudo h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.1;
    color: var(--azul);
    text-transform: uppercase;
    text-align: center;
    padding-top: 2rem;
    border-top: 2px solid var(--cinza);
}
.polygon-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
    position: relative;
    margin: 1rem 0;
}
.polygon-img .area-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.polygon-img .left,
.polygon-img .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 190px;
    min-width: 150px;
    position: relative;
    z-index: 2;
}
.polygon-img .left {
    text-align: end;
}
.polygon-img .right {
    text-align: left;
}
.polygon-img .left p:nth-child(2) {
    padding-right: 2rem;
}
.polygon-img .right p:nth-child(2) {
    padding-left: 2rem;
}
.polygon-img .left p:nth-child(3),
.polygon-img .right p:nth-child(3) {
    position: relative;
    top: 10px;
}
.polygon-img p {
    font-size: 1.25rem;
    font-weight: 600;
}
[data-animate] {
    transition:
    opacity .9s cubic-bezier(0.65,0,0.35,1),
    transform .9s cubic-bezier(0.65,0,0.35,1);
}
@media (max-width: 800px) {
    .title-default {
        flex-direction: column;
    }
    .title-default h1 {
        padding: 0 0 1rem;
        width: 100%;
        border-right: none;
        border-bottom: 2px solid var(--azul);
        text-align: center;
    }
    .title-default h2 {
        text-align: center;
    }
    .title-default h2 br {
        text-align: center;
    }
}
@media (max-width: 600px) {
    .polygon-img img {
        width: 100px;
    }
    .polygon-img .left, 
    .polygon-img .right {
        height: 135px;
    }
    .polygon-img {
        gap: 100px;
    }
}
@media (max-width: 450px) {
    .polygon-img {
        min-height: 200px;
        gap: 50px;
    }
    .polygon-img, 
    .polygon-img img {
        transform: scale(0.9);
    }
}
@media (max-width: 380px) {
    .polygon-img,
    .polygon-img img {
        transform: scale(0.8);
    }
}