main {
    background-image: url("../img/home/bg-home.webp");
    background-position: top center;
    background-size: cover;
    background-repeat: repeat-y;
}
main .content {
    padding: 0 1rem;
}
.title-default {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--cinza);
}
.title-default h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--azul);
    padding: 1rem 1rem 1rem 0;
    border-right: 2px solid var(--azul);
}
.title-default h2 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.1;
    color: var(--cinza-dark);
}
main p {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--azul);
}
main .content > div {
    padding: 3rem 0;
}
.faq .conteudo {
    display: flex;
    align-items: flex-start;
    gap: 4rem;
}
.conteudo .left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 450px;
}
.conteudo .left button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 10px 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--azul);
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25); 
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);
    transition: all .3s ease;
}
.conteudo .left button svg {
    fill: var(--azul);
    transition: all .3s ease;
}
.conteudo .left button.on,
.conteudo .left button:hover {
    background-color: var(--azul);
    color: #fff;
}
.icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon svg {
    width: 25px;
}
.conteudo .left button.on svg,
.conteudo .left button:hover svg {
    fill: #fff;
}
button .plus,
button.on .minus {
    display: flex;
}
button.on .plus,
button .minus {
    display: none;
}

#faq {
    scroll-margin-top: calc(105px + 1rem);
    width: 100%;
}
.questions {
    display: none;
    flex-direction: column;
    gap: 1rem;
}
.questions.on {
    display: flex;
}
.questions button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    background-color: transparent;
    padding: 1rem 0;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
    color: var(--azul);
    transition: all .3s ease;
}
.questions button:hover {
    color: var(--azul-white);
}
.questions svg {
    min-width: 17px;
    width: 17px;
    fill: var(--azul);
}
.questions button:hover svg {
    fill: var(--azul-white);
}

.questions .item {
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--cinza);
}
.questions .item div {
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}
.questions .item div p {
    color: #1c1c1c;
}
.questions .item.on div {
    display: flex;
}
.questions .item svg {
    transition: transform .3s ease;
}
.questions .item.on svg {
    transform: rotate(90deg);
}

button.anim-ent:nth-child(1) {
    transition-delay: 0.2s !important;
}
button.anim-ent:nth-child(2) {
    transition-delay: 0.6s !important;
}
button.anim-ent:nth-child(3) {
    transition-delay: 1s !important;
}
button.anim-ent:nth-child(4) {
    transition-delay: 1.4s !important;
}
button.anim-ent:nth-child(5) {
    transition-delay: 1.8s !important;
}
button.anim-ent:nth-child(6) {
    transition-delay: 2.2s !important;
}

.questions.on.first-load .item:nth-child(1) {
    transition-delay: 1.8s;
}
.questions.on.first-load .item:nth-child(2) {
    transition-delay: 2.2s;
}
.questions.on.first-load .item:nth-child(3) {
    transition-delay: 2.6s;
}
.questions.on.first-load .item:nth-child(4) {
    transition-delay: 3s;
}
.questions.on.first-load .item:nth-child(5) {
    transition-delay: 3.4s;
}
.questions.on.first-load .item:nth-child(6) {
    transition-delay: 3.8s;
}

.questions.on .item:nth-child(1) {
    transition-delay: 0s;
}
.questions.on .item:nth-child(2) {
    transition-delay: .4s;
}
.questions.on .item:nth-child(3) {
    transition-delay: .8s;
}
.questions.on .item:nth-child(4) {
    transition-delay: 1.2s;
}
.questions.on .item:nth-child(5) {
    transition-delay: 1.6s;
}
.questions.on .item:nth-child(6) {
    transition-delay: 2s;
}

@media (max-width: 1200px) {
    .faq .conteudo {
        flex-direction: column;
        gap: 2rem;
    }
    .conteudo .left {
        min-width: 100%;
    }
}
@media (max-width: 800px) {
    .title-default {
        flex-direction: column;
    }
    .title-default h1 {
        padding: 0 0 1rem;
        width: 100%;
        border-right: none;
        border-bottom: 2px solid var(--azul);
        text-align: center;
    }
    .title-default h2 {
        text-align: center;
    }
    .title-default h2 br {
        display: none;
    }
}