footer {
    overflow: hidden;
    background-color: var(--azul-dark);
    position: relative;
}
footer .content {
    padding: 3rem 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 2rem;
}
footer .content > .right {
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a.logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
footer .content > .left {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 4rem;
}
footer .content > .left h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0.5rem;
}
footer .content > .left ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    z-index: 1;
}
footer svg {
    width: 20px;
    min-width: 20px;
    fill: #fff;
}
footer .content > .left p,
footer .content > .left ul a {
    color: #fff;
    font-weight: 400;
}
footer .content > .left ul a {
    color: #fff;
    white-space: nowrap;
    transition: .2s; 
}
footer .content > .left .contato a {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
footer .content > .left ul a:hover,
footer .content > .left ul a.active {
    color: var(--azul-white);
    text-decoration: underline;
}
footer .content > .left ul a:hover svg {
    fill: var(--azul-white);
}
.siga .redes {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #fff;
}
.siga .redes a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.siga .redes a svg {
    width: 35px;
    height: auto;
}
.siga a.store {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 1rem;
    border: 1px solid #fff;
    margin-bottom: 10px;
    width: 100%;
    max-width: max-content;
    transition: all .3s ease;
}
.siga a.store img {
    width: 100%;
    max-width: 120px;
}
.siga a.store:hover {
    border-color: var(--azul);
    background-color: var(--azul-white);
}
.by-engenho {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    background: var(--color-marrom);
    position: relative;
    z-index: 1;
}
.by-engenho a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
@media (max-width: 1250px) {
    footer a.logo img {
        width: 200px;
        height: auto;
    }
}
@media (max-width: 1120px) {
    footer .content {
        flex-direction: column-reverse;
        gap: 1rem;
        padding: 0;
    }
    footer .content > .left {
        justify-content: flex-start;
        flex-direction: column;
        gap: 2rem;
        max-width: 100%;
        padding: 1rem 1rem 2rem;
    }
    footer .content > .right {
        width: 100%;
        padding: 2rem 1rem 0;
    }
    footer .content > .left h4 {
        margin-bottom: 15px;
    }
    footer .content > .left ul {
        gap: 15px;
    }
    footer .content > .left ul a {
        white-space: normal;
    }
    footer .content > .left ul a br {
        display: none;
    }
}
@media (max-width: 600px) {
    footer a.logo img {
        width: 200px;
        height: auto;
    }
    footer .siga {
        width: 100%;
    }
    .siga a.store {
        max-width: 100%;
    }
}
@media (max-width: 400px) {
    .by-engenho img {
        width: 220px;
        height: auto;
    }
}