header {
    padding: 1rem;
    max-height: 120px;
    display: flex;
    align-items: center;
    background: #954D1C;
    background: linear-gradient(110deg, rgba(149, 77, 28, 1) 0%, rgba(126, 74, 37, 1) 2%, rgba(0, 0, 0, 1) 50%, rgba(126, 74, 37, 1) 98%, rgba(149, 77, 28, 1) 100%);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    z-index: 3;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}
header.fixed {
    position: fixed;
    top: 0px;
}
header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    max-width: 1200px;
    position: relative;
}
header a.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}
header .right ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}
header .right ul .separator {
    width: 3px;
    height: 40px;
    background-color: #d9d9d9;
}
header .right li a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
    color: #fff;
    transition: transform 0.2s ease;
}
header .right li a:hover,
header .right li a.active {
    transform: scale(1.05);
    text-decoration: underline;
    color: #fdd596;
}
header .content>.right {
    position: relative;
}
header .btnMobile {
    width: 30px;
    height: 25px;
    position: relative;
    cursor: pointer;
    display: none;
}
header .btnMobile span {
    transition: all .3s ease-in-out;
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #fff;
    border-radius: 0px;
    opacity: 1;
    right: 0;
}
header .btnMobile span:nth-child(1) {
    top: 0;
}
header .btnMobile span:nth-child(2) {
    top: 9px;
    width: 100%;
}
header .btnMobile span:nth-child(3) {
    top: 19px;
    width: 100%;
}
header.active .btnMobile span:nth-child(1) {
    width: 100%;
    transform: translateY(10px) rotate(45deg);
}
header.active .btnMobile span:nth-child(2) {
    width: 100%;
    opacity: 0;
}
header.active .btnMobile span:nth-child(3) {
    width: 100%;
    transform: translateY(-9px) rotate(-45deg);
}
header.active ul.navigation-links {
    transform: scaleX(1) !important;
    pointer-events: all !important;
    z-index: 99 !important;
}

.scroll-text {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    padding: 1rem 0;
    background: #774623;
    background: linear-gradient(0deg, rgba(119, 70, 35, 1) 0%, rgba(89, 55, 32, 1) 50%, rgba(40, 32, 28, 1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    height: 115px;
}
.scroll-content {
    display: inline-flex;
    width: max-content;
    animation: 40s linear infinite scroll;
    letter-spacing: -1px;
    letter-spacing: 1.5px
}
.scroll-content span {
    padding: 0 10px;
    /*color: #39271a;*/
    color: #39271aa8;
    flex-shrink: 0;
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
}
@keyframes scroll {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(calc(-100% / 2))
    }
}

body {
    padding-top: 115px;
}

.area-idiomas {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-idiomas a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-idiomas.mobile {
    display: none;
}

ul.navigation-links .produtos {
    position: relative;
}

.produtos .drop {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: .25s;
    display: grid;
    gap: 5px;
}
.produtos:hover .drop {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.produtos.open .drop {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.produtos .drop a {
    background-color: #a58d67;
    color: #fff !important;
    font-size: 16px;
    transform: none !important;
    padding: 2px 5px;
}

@media (max-width: 1400px) {
    body {
        padding-top: 220px;
    }
    header {
        left: 0;
        transform: none;
    }
}

@media (max-width: 1150px) {
    header .right ul .separator {
        display: none;
    }
    header .btnMobile {
        display: flex !important;
    }
    header ul.navigation-links {
        display: flex !important;
        flex-direction: column !important;
        top: 0 !important;
        left: 0 !important;
        transform: scaleX(0) !important;
        transform-origin: left !important;
        position: fixed !important;
        width: 55% !important;
        min-width: 250px;
        row-gap: 30px !important;
        justify-content: center !important;
        align-items: start !important;
        height: 100dvh !important;
        background: var(--color-marrom);
        color: #fff !important;
        padding-left: 1rem !important;
        justify-content: center !important;
        pointer-events: none !important;
        -webkit-box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.6);
        box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.6);
    }
    header .right li a {
        color: #fff;
    }
    header .right li a:hover,
    header .right li a.active {
        transform: scale(1);
    }
    .produtos.open .drop {
        position: relative;
        top: auto;
        transform: translateY(10px);
    }
    .produtos .drop a {
        padding: 5px;
    }
}
@media (max-width: 600px) {
    header {
        padding: 10px 1rem;
        top: 80px;
    }
    header a.logo img {
        width: auto;
        height: 60px;
    }
    body {
        padding-top: 160px;
    }
    .scroll-content span {
        font-size: 2.5rem;
    }
    .scroll-text {
        padding: 8px 0;
        height: 80px;
    }
    .area-idiomas.desktop {
        display: none;
    }
    .area-idiomas.mobile {
        display: flex;
        position: relative;
        gap: 10px;
    }
}