.area-content {
    background-image: url("../img/home/background-home.webp");
    background-position: top right;
    background-size: 60%;
    background-repeat: repeat-y;
    min-height: 100vh;
}
section.banner .swiper-slide{
    height: 450px;
}
section.banner .swiper a {
    display: flex;
}
section.banner .swiper-slide img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section.banner h1.title-banner-swipper {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase;
    min-width: 50%;
    color: #fff;
    text-shadow: 1px 1px 2px #000000;
}
.area-home-main {
    padding-bottom: 1.5rem;
    border-bottom: 30px solid var(--color-roxo);
}
.area-diferenciais h1 {
    position: relative;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 800;
    color: #fff;
    background: linear-gradient(90deg, 
        rgba(149, 77, 28, 1) 0%, 
        rgba(126, 74, 37, 1) 2%, 
        rgba(0, 0, 0, 1) 50%, 
        rgba(0, 0, 0, 0.4) 75%, 
        rgba(0, 0, 0, 0) 100%
    );
    padding: 5px 0 10px 10px;
    max-width: 400px;
    margin-bottom: 2rem;
}
.area-diferenciais h1::after {
    content: "";
    width: 380px;
    height: 4px;
    background: var(--color-marrom);
    background: linear-gradient(90deg, 
        rgba(149, 77, 28, 1) 0%, 
        rgba(126, 74, 37, 1) 2%, 
        rgba(0, 0, 0, 1) 50%, 
        rgba(0, 0, 0, 0.4) 75%, 
        rgba(0, 0, 0, 0) 100%
    );
    position: absolute;
    bottom: 0;
    left: 0;
}
.area-diferenciais {
    background-image: url("../img/home/banner-diferenciais.webp");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem 1rem;
}
.swiper.diferenciais {
    max-width: 1000px;
    margin: 0 auto;
}
.area-swiper-diferenciais {
    position: relative;
    max-width: calc(1000px + 1rem);
    margin: 0 auto;
}
.swiper.diferenciais .swiper-slide {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 1rem;
    padding: 1rem 0rem;
    border-radius: 1rem;
    border: 2px solid #954d1c;
    min-height: 390px;
}
.swiper.diferenciais .swiper-slide img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.swiper.diferenciais h2 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
    color: #000000;
    padding: 0 1rem;
}
.area-swiper-diferenciais .swiper-button-prev:after,
.area-swiper-diferenciais .swiper-button-next:after{
    color: #000000;
    background-color: #fff;
    border: 2px solid #954d1c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 10px;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
}
/*
.area-swiper-diferenciais .swiper-button-prev:after{
    content: "🡠";
}
.area-swiper-diferenciais .swiper-button-next:after{
    content: "🡢";
}
*/
.area-swiper-diferenciais .swiper-button-next, 
.area-swiper-diferenciais .swiper-button-prev {
    z-index: 2;
}
section.em-foco * {
    font-family: "Montserrat", sans-serif;
}
section.em-foco {
    background-image: url("../img/home/banner-emfoco.webp");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem 0;
    position: relative;
    overflow: hidden;
}
section.em-foco > a {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 3rem;
    max-width: 1400px;
    padding: 0 1rem;
    margin: 0 auto;
    position: relative;
}
section.em-foco > a::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -92vw;
    transform: translateY(-50%);
    width: 100vw;
    height: 220px;
    background: #AE581E;
    background: linear-gradient(120deg,rgba(174, 88, 30, 1) 0%, rgba(223, 166, 107, 1) 100%);
    border-radius: 120px 0 0 120px;
}
section.em-foco > a::after {
    pointer-events: none;
}
section.em-foco .area-img {
    width: 360px;
    height: 480px;
    min-width: 360px;
    min-height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 4rem;
}
section.em-foco .area-img > img {
    position: relative;
    z-index: 1;
}
section.em-foco .area-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.area-img-interna img {
    opacity: 0.25;
}
.area-img-interna {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 520px;
}
section.em-foco > a .left {
    width: 100%;
    max-width: 700px;
    display: grid;
    gap: 2rem;
}
section.em-foco h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: #fff;
    background: linear-gradient(90deg, 
        rgba(149, 77, 28, 1) 0%, 
        rgba(126, 74, 37, 1) 2%, 
        rgba(0, 0, 0, 1) 50%, 
        rgba(0, 0, 0, 0.4) 75%, 
        rgba(0, 0, 0, 0) 100%
    );
    padding: 5px 0 10px 10px;
    max-width: 400px;
    margin-bottom: 1rem;
}
section.em-foco h2::after {
    content: "";
    width: 380px;
    height: 4px;
    background: var(--color-marrom);
    background: linear-gradient(90deg, 
        rgba(149, 77, 28, 1) 0%, 
        rgba(126, 74, 37, 1) 2%, 
        rgba(0, 0, 0, 1) 50%, 
        rgba(0, 0, 0, 0.4) 75%, 
        rgba(0, 0, 0, 0) 100%
    );
    position: absolute;
    bottom: 0;
    left: 0;
}
section.em-foco h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-cinza);
}

section.em-foco .text {
    color: var(--color-cinza);
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}
section.em-foco .text p {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
}
section.em-foco button {
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 7px 1rem;
    border-radius: 40px;
    background: #B05C22;
    background: linear-gradient(110deg, rgba(176, 92, 34, 1) 0%, rgba(246, 202, 142, 1) 50%, rgba(176, 92, 34, 1) 100%);
    color: #fff;
    align-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: .2s;
}
section.em-foco button:hover {
    color: var(--color-marrom);
}

main {
    position: relative;
    z-index: 1;
}

.bg-effect-default {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: -92vw;
    transform: translateY(50%);
    width: 100vw;
    height: 220px;
    background: #AE581E;
    background: linear-gradient(120deg, rgba(223, 166, 107, 1) 0%, rgba(174, 88, 30, 1) 100%);
    border-radius: 0 120px 120px 0;
}

section.area-lead .bg-effect-default {
    display: none;
}

@media (max-width: 1600px) {
    .bg-effect-default {
        left: -97vw;
    }
}
@media (max-width: 1300px) {
    section.em-foco > a::after {
        right: -95vw;
    }
}
@media (max-width: 1200px) {
    section.banner .swiper-slide {
        height: 380px;
    }
    section.banner h1.title-banner-swipper {
        top: 50%;
        left: 50%;
        font-size: 1.5rem;
        text-align: center;
        width: calc(100% - 2rem);
    }
}
@media (max-width: 1120px) {
    section.em-foco > a {
        flex-direction: column;
        gap: 2rem;
    }
    section.em-foco > a .left {
        max-width: 100%;
    }
    section.em-foco .area-img {
        margin-right: 0;
    }
    .bg-effect-default,
    section.em-foco > a::after {
        display: none;
    }
}
@media (max-width: 1050px) {
    .swiper.diferenciais {
        max-width: calc(100% - 90px);
    }
    section.banner h1.title-banner-swipper br {
        display: none;
    }
}
@media (max-width: 520px) {
    section.em-foco .area-img {
        width: 100%;
        height: 500px;
        min-width: auto;
        min-height: auto;
    }
    section.em-foco h2,
    section.em-foco h3,
    .area-diferenciais h1 {
        font-size: 1.2rem;
    }
    section.em-foco h2::after,
    .area-diferenciais h1::after {
        width: 100%;
    }
    .area-img-interna {
        width: 340px;
        height: 110%;
    }
}