section.banner .swiper-slide {
    height: 600px;
}
section.banner .swiper a {
    display: flex;
}
section.banner .swiper-slide img,
section.banner .swiper-slide video {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section.banner h1.title-banner-swipper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1;
    color: var(--azul);
}
.title-banner-swipper .word {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1;
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeWord 3s ease forwards;
}
@keyframes fadeWord {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 1000px) {
    section.banner .swiper-slide {
        height: 400px;
    }
    .title-banner-swipper .word {
        font-size: 2rem;
    }
    .title-banner-swipper .word br {
        display: none;
    }
}