main {
    background-image: url("../img/home/bg-home.webp");
    background-position: top center;
    background-size: cover;
    background-repeat: repeat-y;
}
main .content {
    padding: 0 1rem;
}
.title-default {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--cinza);
}
.title-default h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--azul);
    padding: 1rem 1rem 1rem 0;
    border-right: 2px solid var(--azul);
}
.title-default h2 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.1;
    color: var(--cinza-dark);
}
main p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--azul);
}
main .content > div {
    padding: 3rem 0;
}
.quem-somos .conteudo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.area-videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.area-videos iframe {
    width: 100%;
    height: auto;
    min-height: 250px;
    aspect-ratio: 16/9;
}
.servico {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.servico .right,
.servico img {
    background-color: var(--azul);
}
.servico p {
    color: #fff;
}
.servico div {
    height: 115px;
}
.servico .left {
    display: grid;
    gap: 15px;
}
.servico .left p {
    width: 100%;
    background-color: var(--azul);
    text-align: center;
    padding: 10px 1rem;
    height: 50px;
}
.servico .right p {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    max-width: 470px;
    margin: 0 auto;
}

@media (max-width: 1000px) {
    .area-videos {
        display: grid;
        grid-template-columns: 1fr;
    }
    .area-videos iframe {
        min-height: auto;
    }
    .servico {
        flex-direction: column;
    }
    .servico .left,
    .servico .left p,
    .servico .right,
    .servico .right p {
        width: 100%;
        max-width: 100%;
    }
    .servico div {
        height: auto;
    }
    .servico .img {
        width: 100%;
        margin: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--azul);
        padding: 15px 0;
    }
}
@media (max-width: 800px) {
    .title-default {
        flex-direction: column;
    }
    .title-default h1 {
        padding: 0 0 1rem;
        width: 100%;
        border-right: none;
        border-bottom: 2px solid var(--azul);
        text-align: center;
    }
    .title-default h2 {
        text-align: center;
    }
}