section.saiba-mais {
    background-color: var(--azul);
    background-image: url("../img/saiba-mais/faixa-filtro.jpg");
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section.saiba-mais .area-text {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    flex-wrap: wrap;
    min-height: 140px;
}
section.saiba-mais .area-text h3 {
    font-size: 2.5rem;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}
section.saiba-mais .area-text h3 a {
    color: #fff;
    padding: 0 5px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
section.saiba-mais .area-text h3 a span {
    font-weight: 700;
    border-bottom: 3px solid transparent;
    transition: all .3s ease;
}
section.saiba-mais .tag-arrow {
    min-width: 35px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff;
    margin: 0 auto;
}
section.saiba-mais .tag-arrow svg {
    fill: var(--azul);
    width: 25px;
}
section.saiba-mais .area-text h3 a:hover span {
    border-color: #fff;
}
section.saiba-mais .area-text h3 a:hover {
    transition: all .3s ease;
    filter: brightness(1.1);
}
section.saiba-mais .area-text h3 a:hover svg {
    transition: all .3s ease;
    fill: var(--azul-white);
}
@media (max-width: 600px) {
    section.saiba-mais .area-text h3 {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
    }
    section.saiba-mais .area-text h3 a {
        display: flex;
    }
}
@media (max-width: 500px) {
    section.saiba-mais .area-text img {
        width: 80px;
    }
    section.saiba-mais .area-text h3 {
        font-size: 1.6rem;
    }

    section.saiba-mais .area-text {
        gap: 10px;
    }
}